@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "laksaman", sans-serif;
    transition: 0.5s ease;
    --red: #b9090b;
}

body {
    background: url("../public/bg.png");
    backdrop-filter: brightness(0.6);
    background-repeat: repeat;
}

.loadSVG {
    animation: rotateIt 0.5s linear infinite;
}

@keyframes rotateIt {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.custom-scroll::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #ffffff10;
    border-radius: 20px;
}

.VidContainer {
    position: relative;
}

.VidContainer:before {
    content: "";
    background: orange;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loading 0.5s infinite linear;
}

@keyframes loading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.swal2-container{
    height: fit-content;
}

progress {
    --color: orange;
    cursor: pointer;
}
progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid green;     */
}
progress::-webkit-progress-value {
    background: #b9090b;
}
progress::-moz-progress-bar {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid green;   */
}
